/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/common/nav.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.nav_ServiceDropdown__ioXOX {
    min-width: 100% !important;
    max-width: 1900px !important;
    width: 1063px !important;
    left: -433px !important;
    right: 0 !important;
    margin-right: auto !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.nav_ServiceDropdown__ioXOX::before {
    left: 45% !important;
}

.nav_ServiceDropdown__ioXOX a {
    padding: 26px 18px !important;
}

.nav_ServiceDropdown__ioXOX svg {
    font-size: 14px !important;
}

@media screen and (min-device-width: 992px) and (max-device-width: 1510px) {
    .nav_customDropdown__2_uv5 {
        width: 709px !important;
        left: 205px !important;
    }

}

.nav_customDropdown__2_uv5 {
    width: 1063px;
    left: 433px;
    background: #fafafa !important;
    border-color: #fafafa !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav_customDropdown__2_uv5 svg {
    width: 30px;
    height: 30px;
}

@media screen and (min-device-width: 300px ) and (max-device-width: 992px) {
    .nav_customDropdown__2_uv5 {
        display: none;
        width: 100% !important;
    }

    .nav_mobilenavbr__mn4sN {
        display: block !important;
    }
}
@media screen and (max-width: 992px) {
    .nav_navbar__Svl0Q .nav_dropdown-menu__42Kls.nav_mobilenavbr__mn4sN {
        display: block !important;
    }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/home-digital-agency/home-digital-agency.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************/
.home-digital-agency_box__9_0zX {
    border: 1px solid rgba(78, 76, 76, 0.1);
    padding: 23px;
    transition-duration: .5s;
}

.home-digital-agency_svgParent___1BY2 svg {
    fill: black;
}

.home-digital-agency_box__9_0zX:hover {

    box-shadow: -5px 15px 40px 0 #dbdee166;
}

.home-digital-agency_box__9_0zX:hover .home-digital-agency_svgParent___1BY2 {
    opacity: 1 !important;
    transition-duration: .5s;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/mission-vision/mission.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.mission_box__IRX3D{
   background-color: black; 
   padding: 50px 30px;
   border: 10px solid transparent;
   border-radius: 0px !important;
   transition-duration: .3s;
}
.mission_box__IRX3D:hover{
    border: 10px solid rgb(173, 171, 171);
   transition-duration: .3s;

}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/our-clients/our-clients.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.our-clients_testimonialsWrapper__22OiK {
    background-color: #F9F9FD;
    padding: 100px 0;
    background-repeat: no-repeat;
    position: relative;
}

.our-clients_testimonialsWrapper__22OiK .our-clients_bgImage__97_vF {
    top: 50%;
    position: absolute;
    left: 0;
    transform: translate(0%, -50%);
    z-index: 0;
    height: 100%;
    width: 479px;   
}

.our-clients_TestimonialCard__7ob6V {
    padding: 24px !important;
    background: #fff;
}

.our-clients_TestimonialCard__7ob6V:hover .our-clients_testmonialpara__KysKM , .our-clients_TestimonialCard__7ob6V:hover .our-clients_siteName__79cF4 ,  .our-clients_TestimonialCard__7ob6V:hover .our-clients_siteowner__Dzs8K h4{
    color: #fff;
}
.our-clients_TestimonialCard__7ob6V:hover .our-clients_white_logo__uMk_z{
    width: 192px;
    transition-duration: 2s;
}
.our-clients_white_logo__uMk_z{
   width: 0px ;

}
.our-clients_siteowner__Dzs8K h4{
    color: black;
    margin-top: 40px;
    font-size: 24px !important;  
}
.our-clients_TestimonialCard__7ob6V:hover .our-clients_simple_logo__YUxy0{
    display: none;
}


@media (max-width:1548px) {
    .our-clients_testimonialsWrapper__22OiK .our-clients_bgImage__97_vF {
      display: none;
    }
}
.our-clients_customContainer__ovYCV {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem; /* Equivalent to 24px */
    padding-right: 1.5rem; /* Equivalent to 24px */
    overflow: hidden;
}
@media (min-width: 600px) {
    .our-clients_customContainer__ovYCV {
        max-width: 600px;
    }
}
@media (min-width: 700px) {
    .our-clients_customContainer__ovYCV {
        max-width: 700px;
    }
}
@media (min-width: 900px) {
    .our-clients_customContainer__ovYCV {
        max-width: 900px;
    }
}
@media (min-width: 1240px) {
    .our-clients_customContainer__ovYCV {
        max-width: 1085px;
    }
}
.our-clients_TestimonialCard__7ob6V:hover{
background-color: black;
}
.our-clients_TestimonialCard__7ob6V{
    border-radius: 20px;
    
}
.our-clients_testimonials-slider__8eguo{
    margin-left: 50px;
}
