/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/products/product.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.product_iconnn__CqYWe{
    border: 2px solid lightgray;
    border-radius: 100%;
    padding: 28px;
    font-size: 44px;
}
.product_flexx__uYvEm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.product_bgcuim__lrxSv{
    background-image: 
    linear-gradient(to bottom, rgb(0 0 0 / 52%), rgb(0 0 0 / 73%)), url(/sa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
@media only screen and (max-width: 991px) and (min-width: 320px) {

    .product_bgcuim__lrxSv{
        width: 100% !important;
    }
} 
